.jobb {
    width: 80%;
    margin-top: 6mm;
    margin-bottom: 6mm;
    margin-left: 5cm;
    border-width: 5px;
    border-style: dotted;
    border-color: burlywood;

}

.bal {
    width: 70%;
    margin-top: 6mm;
    margin-bottom: 6mm;
    margin-right: 100mm;
    border-width: 5px;
    border-style: dotted;
    border-color: burlywood;

}

p {
    background-color: cornsilk;
    text-indent: 1cm;
    margin: 3mm;
    padding-top: 2mm;
    padding-bottom: 2mm;
    padding-right: 6mm;
    padding-left: 6mm;


}
.kekszoveg {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: dodgerblue;
    font-weight: bolder;

}

.pirosszoveg {
    color: crimson;
    font-variant: small-caps;
    font-size: 16spx;

}

.piros {
    border-right-color: darkred;
    border-right-style: double;
    border-right-width: 3mm;


}

.kék {

    border-bottom-style: dashed;
    border-bottom-color: blue;
    border-bottom-width: 2mm;
    border-left-color: blueviolet;
    border-left-style: dashed;
    padding-bottom: 1cm;
    border-left-width: 1mm;

}